name: Terraform Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write   # required for OIDC
  contents: read

env:
  AWS_REGION: us-east-1
  TF_IN_AUTOMATION: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::476488972684:role/GitHubCdkDeployRole
          aws-region: ${{ env.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      - name: Terraform Init
        run: terraform -chdir=infra init -input=false

      - name: Terraform Plan
        run: |
          terraform -chdir=infra plan -input=false -out=tfplan \
          -var="aws_region=${{ env.AWS_REGION }}" \
          -var="environment=dev"

      - name: Terraform Apply (main only)
        if: github.ref == 'refs/heads/main'
        run: terraform -chdir=infra apply -auto-approve tfplan

      - name: Who am I?
        run: aws sts get-caller-identity
